<footer class="sk3-flex sk3-flex-center-h sk3-margin-v-full sk3-pad-v-full">

	<div class="sk3-pad-h txt-center-h">
	© 2020 Sarah Kastrau | <a href="mailto:contact@concrete-island.com">E-Mail</a> | <a href="https://instagram.com/sarahkastrau">Instagram</a> | <a href="http://eepurl.com/gy8uNP">Newsletter</a>
	</div>
	</div>

</footer>

<!--hugo internal template-->
{{if site.Params.opengraph}}{{template "_internal/opengraph.html" .}}{{end}}
{{if site.Params.twittercards}}{{template "_internal/twitter_cards.html" .}}{{end}}

