<head>
	<!--Meta-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--title-->
	{{$page_title := ""}}
	{{if not .IsHome}}
		{{$page_title =  delimit (slice "|" .Title) " "}}
	{{end}}
	{{$title := delimit (slice site.Title $page_title) " "}}
	<title>{{$title}}</title>
	<!--description-->
	{{$desc := ""}}
	{{if .IsHome}}
		<!--desc - home-->
		{{$desc = site.Params.description}}
	{{else}}
		<!--desc - else-->
		{{if .Description}}
			{{$desc = .Description}}
		{{else}}
			{{$desc = delimit (slice site.Title "-" .Section "-" .Title) " "}}
		{{end}}
	{{end}}
	<meta name="description" content="{{$desc}}"/>
	<!--author-->
	{{with .Params.author}}<meta name="author" content="{{.}}">{{end}}
	<!--canonical url-->
	{{if site.Params.user_canonical}}<link rel="canonical" href="{{absURL .Permalink}}"/>{{end}}

	<!--rss, etc.-->
	{{range .AlternativeOutputFormats}}
		{{printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML}}
	{{end}}

	<!--favicon-->
	{{with site.Params.favicon}}<link rel="icon" href="{{.}}">{{end}}
	
	<!--opengraph-->
	{{ template "_internal/opengraph.html" . }}
	
	<!--twittercards-->
	{{ template "_internal/twitter_cards.html" . }}

	<!--css - SK3-->
	<link rel="stylesheet" href="{{relLangURL ""}}css/sk3.css">
	<!--css - site.Params-->
	<style>
		{{with site.Params.card.width}}
		@media only screen and (min-width: 993px){:root{--width-card: {{.}};}}
		{{end}}
		{{with site.Params.pagewidth}}
		@media only screen and (min-width: 993px){:root{--width-html: {{.}};}}
		{{end}}
		{{with site.Params.color.bg}}:root{--color-bg:{{.}};}{{end}}
		{{with site.Params.color.border}}:root{--color-border:{{.}};}{{end}}
		{{with site.Params.color.link}}:root{--color-link:{{.}};}{{end}}
		{{with site.Params.color.text}}:root{--text-color:{{.}};}{{end}}
		{{if .IsHome}}
		/*
			H1 size:
			In single/index page, H1 is smaller than H2
			In Home page, where there is no page title, H1 same size as H2
		*/
		:root{
			--h1-ln-h-using: var(--h2-ln-h);
			--h1-size-using: var(--h2-size);
		}
		{{end}}
	</style>
	<!--css - custom-->
	{{range site.Params.custom_css}}
	<link rel="stylesheet" href="{{.|relURL}}">
	{{end}}
	
	<!--translation-->
	{{ if .IsTranslated }}
	<nav class="LangNav">
	{{ range .Translations }}
		<a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
	{{ end}}
	</nav>
	{{ end }}

	<!--script - SK3-->
	{{if or site.Menus.main site.Params.socialshare (default true .Params.toc)}}
	<script>
		openToc=false
		{{with site.Params.openToc}}openToc={{.}}{{end}}
	</script>
	<script defer src="{{relLangURL ""}}js/sk3.js"></script>
	{{end}}
	<!--script - Google Analytics-->
	{{if site.GoogleAnalytics}}{{template "_internal/google_analytics_async.html" .}}{{end}}
	<!--script - Google AdSense-->
	{{partial "adsense.html" .}}
	<!--script - custom-->
	{{range site.Params.custom_js}}
	<script src="{{.|relURL}}"></script>
	{{end}}
	<!--script - Hugo-->
	<script>
		/*
		console.log("Kind:{{.Kind}}")
		console.log("Type:{{.Type}}")
		console.log("Section:{{.Section}}")
		console.log("desc:{{$desc}}")
		console.log("title:{{$title}}")
		*/
	</script>
	<!--svg-->
	{{if site.Params.svg_ext}}
	<link href="//use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
	{{else}}
	{{partial "sk3-fa.svg" .}}
	{{end}}
</head>